#screen {
    position: fixed;
    inset: 0;
    overflow: hidden;
    user-select: none;
    background-color: black;
}

#desktop-layer, #window-layer {
    position: fixed;
    inset: 0;
    overflow: hidden;
    user-select: none;
}

#window-layer { pointer-events: none; }
#window-layer > .window { pointer-events: auto; }