#screen {
    position: fixed;
    inset: 0;
    overflow: hidden;
    user-select: none;
    background-color: black;
}

#layer-windows { pointer-events: none; }
#layer-windows > .window { pointer-events: auto; }